IMAGE_NAME=uniad-dev
IMAGE_TAG=uniad2.0

CUDA_VERSION=11.8.0
UBUNTU_VERSION=22.04
PYTHON_VERSION=3.9
TORCH_CUDA=cu118

MINIFORGE_VERSION=24.11.0-1
CONDA_DIR=/opt/conda

TORCH_CUDA_ARCH_LIST=8.9

USERNAME=developer
HOST_GID=1000
HOST_UID=1000

SHM_SIZE=16g
