IMAGE_NAME=mmdetection-dev
IMAGE_TAG=cu121

CUDA_VERSION=12.1.1
UBUNTU_VERSION=22.04
PYTHON_VERSION=3.10
TORCH_CUDA=cu121
TORCH_VERSION=2.1.0

MMENGINE_MINIMUM_VERSION=0.10.0
MMCV_MINIMUM_VERSION=2.1.0

USERNAME=developer
HOST_GID=1000
HOST_UID=1000

SHM_SIZE=16g
