# environment
ch2to5/.ch2to5env/

# data
ch2to5/data/*
!ch2to5/data/.gitkeep
ch6_3dmodels/data/*
!ch6_3dmodels/data/.gitkeep

# cache
__pycache__/
*.pyc
.ipynb_checkpoints/

# secrets
.env

# UniAD
ch6_3dmodels/UniAD/
