IMAGE_NAME=torch-dev
IMAGE_TAG=cu128

CUDA_VERSION=12.8.1
UBUNTU_VERSION=22.04
PYTHON_VERSION=3.10
TORCH_CUDA=cu128
TORCH_VERSION=2.10.0
TORCHVISION_VERSION=0.25.0

USERNAME=developer
HOST_GID=1000
HOST_UID=1000

SHM_SIZE=16g
